.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  margin: 0px auto;
}

#HowTo .paragraph{
	text-align: left;
}
#GamePage #currentQuals h2{
	color: red;
}
strong{
	color: red;
}